/* PARA PC */
@media only screen and (min-width:768px) and (max-width:1200px) {	
    .border {
    	border: 4px solid black;    	
     }
}

/* PARA TABLET */
@media screen and (min-width:321px) and (max-width:768px) {
    /*Cuestiones del Footer*/
    footer{
        height: 50px;
    }

    footer p{
        font-size: 10px;
        text-align: center;
    }

    footer li a img{        
        display:none;
    }
    
}

/* PARA MOVIL */
@media screen and (min-width:1px) and (max-width:320px) {	    
    /*Cuestiones del Footer*/
    footer{
        height: 30px;
    }

    footer p{
        font-size: 10px;
        text-align: center;
    }

    footer li a img{        
        display:none;
    }
}

/*Fuente de Google*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
$color_verde_claro: #6EAE45;
$color_verde_obscuro: #425651;
$color_azul: #3785C1;
$color_naranja: orange;


$estilos:(
    tFuente1: 35px,
    tFuente2:30px,
    tFuente3:25px,
    tFuente4:20px
);

@mixin sizes($width, $height){
    height: $height;
    width:$width;
}

.header__img{
    @include sizes(100px,100px);        
}

/* Estilo para el footer */
footer {    
    background-image: linear-gradient(to right, $color_verde_obscuro, $color_verde_claro);    
    font-family: 'Lato', sans-serif;
    font-size: map-get($estilos,tFuente4);    
    color: white;    
}

h1{
    color: $color_azul;
    font-size: map-get($estilos,tFuente1);
}

h2{
    color: $color_verde_claro;
    font-size: map-get($estilos,tFuente2);
}

h3{
    color: $color_naranja;
    font-size: map-get($estilos,tFuente3);
}

/* Propiedades Paginas */
.pagina__figure{
    display: flex;     
    justify-content: center;
}

.pagina__figure img{
    @include sizes(100%,150px);     
}

.pagina__article{
    display: flex;
    flex-direction: column;         
}

.pagina__article p{
    font-size: map-get($estilos,tFuente4);;
}

/* Para Uso del Formulario */
.titulo-formulario {
    color: $color_azul;
    font-size: map-get($estilos,tFuente2);
    padding: 10px;
}

.bigicon {
    font-size: map-get($estilos,tFuente1);
    color: $color_azul;

}

/* Transiciones */
.img_carrusel:hover {
    filter: blur(5px);
}

.img_secundarias:hover{    
    filter: grayscale(80%);
}